.footer-text {
    text-align: center;    
}

.page-content {
    padding: 5px;
}

.site-footer {
    padding: 5px;
    padding-top: 15px;
    padding-bottom: calc(1em + env(safe-area-inset-bottom));
}