.footer-text {
    text-align: center;    
}

.page-content {
    padding: 5px;
}

.site-footer {
    margin-top: auto;
    padding: 5px;
    padding-top: calc(1em + env(safe-area-inset-bottom));
    padding-bottom: calc(1em + env(safe-area-inset-bottom));
}